@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body{
		font-family: 'Montserrat', sans-serif;
	}
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #999;
  font-size: 1rem;
}

h1,
h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}
